.homepagebg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/bgimage.jpg");
  background-size: cover;
  background-position: center;
}

.candbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/candimage.jpg");
  background-size: cover;
  background-position: center;
}

.systemInfo {
  background: linear-gradient(135deg, #03a791 0%, #81e7af 100%);
}

.nav-links .nav-item-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: color 0.25s ease;
  padding-bottom: 4px;
}

.nav-links .nav-item-link:hover {
  color: #198754; /* green hover */
}

.nav-links .nav-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #198754;
  transition: width 0.3s ease-in-out;
  border-radius: 4px;
}

.nav-links .nav-item-link.active-link::after {
  width: 100%; /* underline expands smoothly */
}
/* 
@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slow-bounce {
  animation: slowBounce 2.5s ease-in-out infinite;
} */

@keyframes bounceFade {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.bounce-fade {
  animation: bounceFade 2.5s ease-in-out infinite;
}

.infraction-link {
  text-decoration: none; /* Remove default underline */
  position: relative; /* Required for positioning the ::after element */
  display: inline-block; /* Ensures the link wraps tightly around content */
}

.infraction-link::after {
  content: ""; /* Empty content for the pseudo-element */
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust to position the underline below the text */
  width: 0; /* Start with no width */
  height: 2px; /* Thickness of the underline */
  background-color: #315071; /* Bootstrap primary blue, or choose your color */
  transition: width 0.3s ease-in-out; /* Smooth transition for width */
}

.infraction-link:hover::after {
  width: 100%; /* Expand to full width on hover */
}
